* {
    margin: 0;
    padding: 0;
}

p {
    margin: 10px;
}

main {
    text-align: center;
    margin: 10px auto;
}

.board-root {
    border: 3px solid #234;
    border-radius: 10px;
    padding: 5px;
    display: inline-block;
    width: fit-content;
    background-color: #dfd;
}

.board-row {
    display: flex;
}

.board-cell {
    border: 2px solid #789;
    border-radius: 5px;
    margin: 1px;
    width: 3rem;
    height: 3rem;
}

.board-black, .board-white {
    width: 2rem;
    height: 2rem;
    border-radius: 3rem;
    margin: .5rem;
}

.board-black {
    background-color: #222;
    box-shadow: #000 2px 2px 2px 2px;
    animation-name: opacity1;
    animation-duration: 3s;
}

.board-white {
    background-color: #ddd;
    box-shadow: #555 3px 2px 2px 2px;
    animation-name: opacity2;
    animation-duration: 3s;
}

.board-cell-play {
    cursor: pointer;
    background-color: #ccc;
}

.board-cell-play:hover {
    background-color: #aaa;
}

@keyframes opacity1 {
    from {opacity: .5;}
    to {opacity: 1;}
}

@keyframes opacity2 {
    from {opacity: .5;}
    to {opacity: 1;}
}
